servers pfaffmanager-controller-index.hbs
{{i18n 'pfaffmanager.server.server_count_x' count=model.length}}
<br />
{{d-button label="pfaffmanager.server.create" action="createServer" icon="plus" class="btn btn-primary"}}
<h2>Server List</h2>
{{#each servers as |server|}}
<hr />
     {{#link-to "pfaffmanager.servers.show" server.id}} 
        {{server.hostname}} 
      {{/link-to}}
      <br />Created at: {{~format-date server.created_at format="medium" }}
      <br />Updated at: {{~format-date server.updated_at format="medium" }}
      <br />
    Open: <a href="https://{{server.hostname}}">{{server.hostname}}</a> 
{{/each}}

<br /><br />ANGUS: fix -- must reload this page after clicking create button.
<br />This should really just show the server list owned by the user or have a new server template
{{outlet}}