servers controller-index.hbs
<br />Have {{model.length}} server!
<br />
{{#each model as |server|}}
     EDIT: {{#link-to "pfaffmanager.servers.show" server.id}} 
        {{server.hostname}} 
      {{/link-to}}
      <br />Created at: {{~format-date server.created_at format="medium" }}
      <br />Updated at: {{~format-date server.updated_at format="medium" }}
      <br />
    Open: <a href="https://{{server.hostname}}">{{server.hostname}}</a> 
{{/each}}

<br /><br /><br />This should really just show the server list owned by the user or have a new server template
{{outlet}}