 <h3><a href="https://{{server.hostname}}">{{server.hostname}}</a></h3>

  <form>

    <div class="pfaffmanager-group server-status">
      {{#if server.installed_version }}
        {{!-- maxmind_license_key not implemented --}}
        <br>Created&nbsp; {{~format-date server.created_at format="medium" }}
        <br>Last update&nbsp; {{~format-date server.updated_at format="medium" }}
        <br>{{i18n "pfaffmanager.server.installed_version" }}:&nbsp; {{server.installed_version }}
        <br>{{i18n "pfaffmanager.server.installed_sha" }}:&nbsp; <a href="https://github.com/discourse/discourse/commit/{{server.installed_sha}}">{{server.installed_sha}}</a>
        <br>{{i18n "pfaffmanager.server.status_retrieved" }}&nbsp; {{format-date server.server_status_updated_at format="medium" }}
      {{else}}
        <span class="version-not-available">Discourse version information is not yet available</span>
      {{/if}}
    </div>
    {{#if server.request_status}}
      <div class="pfaffmanager-server-status">
        <span class="pfaffmanager-status-header">{{i18n "pfaffmanager.server.request_section_header" }}: <b>{{server.request}}</b></span>
        <br>{{i18n "pfaffmanager.server.request_status" }}:&nbsp; {{server.request_status }}
              ({{format-date server.request_status_updated_at format="medium" }})
        <br>{{i18n "pfaffmanager.server.request_result" }}:&nbsp; {{server.request_result }}
      </div>
    {{else}}
      <div class="pfaffmanager-group server-edit">
        <span class="pfaffmanager-group server-status-header">{{i18n "pfaffmanager.server.status_header" }}</span>

        <div class="pfaffmanager-group pref-manager-hostname">
          <label class="control-label">{{i18n "pfaffmanager.hostname"}}</label>
          <div class="pfaffmanager-hostname">
            {{input type="text" autocomplete=off value=server.hostname class="input-large"}}
            {{#if hostnameValid}}<span class="hostname-message">Must be valid and saved</span>{{/if}}
          </div>
        </div>
        {{#if canCreateVM}}
          <div class="pfaffmanager-group warning">Can Create a VM</div>
        {{else}}
          <div class="pfaffmanager-group warning">Digital Ocean API Key is required for droplet creation</div>
          <div class="pfaffmanager-group pfaffmanager-do-api-key">
            <label class="control-label">{{i18n "pfaffmanager.do_api_key"}}</label>
            <div class="do-api-key">
              {{input type="text" autocomplete=off value=server.do_api_key class="input-large"}}
            </div>
          </div>
        {{/if}}
        {{#if isDropletInstallType}}

          <div>
            <label for="droplet_size">{{i18n "pfaffmanager.server.droplet_size.label"}}</label>

            <div class="pfaffmanager-droplet-size">
              {{combo-box
                value=server.droplet_size
                valueProperty="value"
                content=server.available_droplet_sizes
                class="droplet-size"
                onChange=(action (mut server.droplet_size))
                options=(hash
                  filterable=true
                  none="pfaffmanager.server.droplet_size.none"
                )
              }}
              </div>
          </div>
        {{/if}}
        {{#if server.have_mg_api_key}}
          <div class="pfaffmanager-group warning">Ready to configure Mailgun</div>
        {{else}}
          <div class="pfaffmanager-group warning">Mailgun API Key is required for installation</div>
          <div class="pfaffmanager-group pfaffmanager-mg-api-key">
            <label class="control-label">{{i18n "pfaffmanager.mg_api_key"}}</label>
            <div class="mg-api-key">
              {{input type="text" value=server.mg_api_key class="input-large"}}
            </div>
          </div>
        {{/if}}
        {{#if false}}
          {{!-- maxmind_license_key not implemented --}}
          <div class="pfaffmanager-group pfaffmanager-maxmind-license-key">
            <label class="control-label">{{i18n "pfaffmanager.server.maxmind_license_key"}}</label>
            <div class="maxmind-license-key">
              {{input type="password" value=server.maxmind_license_key class="input-large"}}
            </div>
          </div>
        {{/if}}
      </div>
    {{/if}}
    <div class="pull-right">
      {{conditional-loading-spinner condition=loading size="small"}}
      {{#if haveVM}}
        {{d-button
          label="pfaffmanager.server.run_upgrade"
          action="upgradeServer"
          icon="check"
          class="btn btn-primary"}}
      {{ else }}
        {{!-- need stuff to create/claim VM --}}
        {{#if isDropletInstallType}}
          {{#if createDropletDisabled}}
            {{updateReason}}
            {{d-button
          label="pfaffmanager.server.update"
          action=(action "updateServer")
          icon="check"
          class="btn btn-primary"
          disabled=updateDisabledServer}}
          {{else}}
            <div class="pull-right">
              {{d-button label="pfaffmanager.server.do_create"
                action=(action "dropletCreate")
                icon="plus"
                class="btn btn-primary do-create"
                disabled=updateDisabledServer
                }}
            </div>
          {{/if}}
        {{else}}
          Sorry! Install type "{{ server.install_type}}"" is not yet supported.
        {{/if}}
      {{/if}}
    </div>
  </form>