<div class="pfaffmanager">

  <h3 class="server-heading"><a href="https://{{server.hostname}}">{{server.hostname}}</a></h3>

  <form>

   {{#if server.installed_version }}
      <div class="installed-server-status">
        {{!-- maxmind_license_key not implemented --}}
        <br>Created&nbsp; {{~format-date server.created_at format="medium" }}
        <br>Last update&nbsp; {{~format-date server.updated_at format="medium" }}
        <br>{{i18n "pfaffmanager.server.installed_version" }}:&nbsp; {{server.installed_version }}
        <br>{{i18n "pfaffmanager.server.installed_sha" }}:&nbsp; <a href="https://github.com/discourse/discourse/commit/{{server.installed_sha}}">{{server.installed_sha}}</a>
        <br>{{i18n "pfaffmanager.server.status_retrieved" }}&nbsp; {{format-date server.server_status_updated_at format="medium" }}
      </div>
    {{/if}}

    {{#if server.request_status}}
      <div class="request-status">
          <span class="status-header">{{i18n "pfaffmanager.server.request_section_header" }}: <b>{{server.last_action}}</b></span>
        <br>{{i18n "pfaffmanager.server.request_status" }}:&nbsp; {{server.request_status }}
              ({{format-date server.request_status_updated_at format="medium" }})
        <br>{{i18n "pfaffmanager.server.request_result" }}:&nbsp; {{server.request_result }}
      </div>
    {{/if}}


    {{#unless serverActive}}
      <div class="server-edit">
        <span class="server-status-header">{{i18n "pfaffmanager.server.status_header" }}</span>

        <div class="hostname">
          <label>{{i18n "pfaffmanager.hostname"}}</label>
          <div class="hostname-input">
            {{input type="text"  focus-out=(action "updateServer") autocomplete=off value=server.hostname class="input-large"}}
            {{#unless hostnameValid}}<span class="warning">Invalid Hostname</span>{{/unless}}
          </div>
        </div>
        {{#if canCreateVM}}
          <div class="ready">Have valid Digital Ocean Access Key</div>
        {{else}}
          <div class="pfaffmanager-do-api-key">
            <label class="control-label">{{i18n "pfaffmanager.do_api_key"}}</label>
            <div class="do-api-key">
              {{input type="text" autocomplete=off 
                value=server.do_api_key 
                class="input-large"
                focus-out=(action "updateServer")}}
          <span class="warning">Digital Ocean API Key is required for installation on new droplet</span>
            </div>
            
          </div>
        {{/if}}

        {{#if server.have_mg_api_key}}
          <div class="ready">Have Valid Mailgun API Key</div>
        {{else}}
          <div class="pfaffmanager-mg-api-key">
            <label class="control-label">{{i18n "pfaffmanager.mg_api_key"}}</label>
            <div class="mg-api-key">
              {{input type="text"  focus-out=(action "updateServer") value=server.mg_api_key class="input-large"}}
            <span class="warning">Mailgun API Key is required for installation</span>
            </div>
          </div>
        {{/if}}

        {{#if isDropletInstallType}}

          <div>
            <label for="droplet_size">{{i18n "pfaffmanager.server.droplet_size.label"}}</label>

            <div class="pfaffmanager-droplet-size">
              {{combo-box
                value=server.droplet_size
                valueProperty="value"
                content=server.available_droplet_sizes
                class="droplet-size"
                onChange=(action "updateDropletSize")
                options=(hash
                  filterable=true
                  none="pfaffmanager.server.droplet_size.none"
                )
              }}
              </div>
          </div>
        {{/if}}
        {{#if canUseMaxmind}}
          {{!-- maxmind_license_key not implemented --}}
          <div class="pfaffmanager-maxmind-license-key">
            <label class="control-label">{{i18n "pfaffmanager.server.maxmind_license_key"}}</label>
            <div class="maxmind-license-key">
              {{input type="password" value=server.maxmind_license_key class="input-large"}}
            </div>
          </div>
        {{/if}}
      </div>
    {{/unless}}

    <div class="pull-right">
      {{conditional-loading-spinner condition=upgradeServerDisabled size="small"}}
      {{#if server.active}}
        {{d-button
          label="pfaffmanager.server.run_upgrade"
          action="upgradeServer"
          icon="check"
          class="btn btn-primary"
          disabled=upgradeServerDisabled}}
      {{ else }}
        {{!-- need stuff to create/claim VM --}}
        {{#if isDropletInstallType}}
            <div class="pull-right">
              {{d-button label="pfaffmanager.server.do_create"
                action=(action "dropletCreate")
                icon="plus"
                class="btn btn-primary do-create"
                disabled=createDropletDisabled
                }}
            </div>
        {{else}}
          Sorry! Install type "{{ server.install_type}}"" is not yet supported.
        {{/if}}
      {{/if}}
    </div>


  </form>


</div>