<hr />
server-item.hbs
 <h3><a href="https://{{server.hostname}}">{{server.hostname}}</a></h3>
      
 <div class="pfaffmanager-group server-dates">Created&nbsp; {{~format-date server.created_at format="medium" }}
     (updated&nbsp; {{~format-date server.updated_at format="medium" }})
     </div>

 
<div class="pfaffmanager-group pref-manager-hostname">
  <label class="control-label">{{i18n 'pfaffmanager.hostname'}}</label>
  <div class="pfaffmanager">
    {{input type="text" value=server.hostname class="input-large"}}
  </div>
</div>
<div class="pfaffmanager-group pref-manager-api-key">
  <label class="control-label">{{i18n 'pfaffmanager.api_key'}}</label>
  <div class="manager">
    {{input type="text" value=server.discourse_api_key class="input-large"}}
  </div>
</div>
end server-item.hbs
<hr />