 <h3><a href="https://{{server.hostname}}">{{server.hostname}}</a></h3>


{{# if true }}
<div class="pfaffmanager-group server-status">
<span class='pfaffmanager-group server-status-header'>{{i18n 'pfaffmanager.server.status_header' }}</span>
   <br />Created&nbsp; {{~format-date server.created_at format="medium" }}
   <br />Last update&nbsp; {{~format-date server.updated_at format="medium" }}
   <br />{{i18n 'pfaffmanager.server.installed_version' }}:&nbsp; {{server.installed_version }}
   <br />{{i18n 'pfaffmanager.server.installed_sha' }}:&nbsp; <a href="https://github.com/discourse/discourse/commit/{{server.installed_sha}}">{{server.installed_sha}}</a>
   <br />{{i18n 'pfaffmanager.server.status_retrieved' }}&nbsp; {{format-date server.server_status_updated_at format="medium" }}
 </div>

 <div class="pfaffmanager-server-status"><hr>
  <span class='pfaffmanager-status-header'>{{i18n 'pfaffmanager.server.request_section_header' }}: <b>{{server.last_action}}</b></span>
   <br />{{i18n 'pfaffmanager.server.request_status' }}:&nbsp; {{server.request_status }}  
        ({{format-date server.request_status_updated_at format="medium" }})
   <br />{{i18n 'pfaffmanager.server.request_result' }}:&nbsp; {{server.request_result }}  
</div>
<div class="pfaffmanager-group server-action"><hr>
  <label class="control-label">{{i18n 'pfaffmanager.server.rebuild'}}</label>
  <div class="pfaffmanager">
ANGUS: This should be a pull-down with 0,1 (or better defined elsewhere)

   <br />{{i18n 'pfaffmanager.server.request' }}&nbsp; {{input type="text" value=server.request}}
  </div>
</div>
{{/if }}

{{# unless false}}
ANGUS: these fields should display only if installed_version is empty
<br />
<div class="pfaffmanager-group server-edit">
<span class='pfaffmanager-group server-status-header'>{{i18n 'pfaffmanager.server.status_header' }}</span>

<div class="pfaffmanager-group pref-manager-hostname">
  <label class="control-label">{{i18n 'pfaffmanager.hostname'}}</label>
  <div class="pfaffmanager">
    {{input type="text" value=server.hostname class="input-large"}}
  </div>
</div>
<div class="pfaffmanager-group pfaffmanager-do-api-key">
  <label class="control-label">{{i18n 'pfaffmanager.do_api_key'}}</label>
  <div class="do-api-key">
    {{input type="password" value=server.do_api_key class="input-large"}}
  </div>
</div>
<div class="pfaffmanager-group pfaffmanager-mg-api-key">
  <label class="control-label">{{i18n 'pfaffmanager.mg_api_key'}}</label>
  <div class="mg-api-key">
    {{input type="password" value=server.mg_api_key class="input-large"}}
  </div>
</div>
<br />
ANGUS: this field can/should be used to verify that they own a server before
they can start making changes. I probably need to add logic for that.
<div class="pfaffmanager-group pref-manager-api-key">
  <label class="control-label">{{i18n 'pfaffmanager.api_key'}}</label>
  <div class="manager" >
    {{input type="password" value=server.discourse_api_key class="input-large" title='For existing sites only' data-tip='something-else'}}
  </div>
</div>
<br>ANGUS: maybe maxmind can display all the time or when they can update the server
<div class="pfaffmanager-group pfaffmanager-maxmind-license-key">
  <label class="control-label">{{i18n 'pfaffmanager.server.maxmind_license_key'}}</label>
  <div class="maxmind-license-key">
    {{input type="password" value=server.maxmind_license_key class="input-large"}}
  </div>
</div>

{{!-- <div class="pfaffmanager-group pref-manager-inventory">
  <label class="control-label">{{i18n 'pfaffmanager.server.inventory'}}</label>
  <div class="inventory">
    {{input type="text" value=server.inventory class="input-large"}}
  </div>
</div> --}}
</div>
{{/unless}}

     {{!-- t.string :ssh_key_private
     t.string :ssh_key_public
     t.string :discourse_url
     t.text   :inventory
     t.text   :discourse_env
     t.text   :discourse_templates
     t.text   :discourse_plugins --}}