servers pfaffmanager-controller-index.hbs<br>

<div class="pfaffmanager-group server-index">
  {{i18n "pfaffmanager.server.x_servers" count=servers.length}}
</div>
<div class="pfaffmanager-group server-index">
  TODO: hide this if not admin or in servercreate group
  <span class="pfaffmanager-group server-create-button">
    {{d-button label="pfaffmanager.server.create" action="createServer" icon="plus" class="btn btn-primary"}}
  </span>
</div>

<h2>Server List</h2>

{{#each servers as |server|}}
  <hr>
  {{#link-to "pfaffmanager.servers.show" server.id}}
    {{server.hostname}}
  {{/link-to}}
  <br>Created at: {{~format-date server.created_at format="medium" }}
  <br>Updated at: {{~format-date server.updated_at format="medium" }}
  <br>
  Open: <a href="https://{{server.hostname}}">{{server.hostname}}</a>
{{/each}}

{{outlet}}